{{#if isEditing}}
{{partial 'historien/redigere'}}
<button {{action 'doneEditing'}}>Færdig</button>
{{else}}
<button {{action 'edit'}}>Redigere</button>
{{/if}}
<h1>{{title}}</h1>
    <h2>by {{author.name}} <small class='muted'>{{format-date date}}</small></h2>

    <hr>

    <div class='intro'>
      {{excerpt}}
    </div>

    <div class='below-the-fold'>
      {{body}}
    </div>

