<div class="cl-xs-6">
	{{#each}} <div class="well">
		<ul>
		<small>Dit navn</small>
		<h3>{{name}} {{lastname}}</h3>
		<small>Dit CVR-nummer</small>
		<h3>{{cvr}}</h3>
		<small>Din virksomheds navn</small>
		<h3>{{companyname}}</h3>
		<small>Din adresse</small>
		<h3>{{address}}, {{zip}}</h3>
		
		
	</ul>
	
	</div>{{/each}}



</div>